@font-face {
  font-family: "Haskoy-Medium";
  src: url("../../fonts/Haskoy_Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Haskoy-Bold";
  src: url("../../fonts/Haskoy-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Haskoy-SemiBold";
  src: url("../../fonts/Haskoy-SemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Haskoy-Regular";
  src: url("../../fonts/Haskoy-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Interstate-Condensed";
  src: url("../../fonts/Interstate_Condensed_Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 3.4375rem;
  z-index: 100;
}
.header .navbar {
  align-items: end;
  justify-content: space-between;
  padding-top: 0;
}
.header .navbar .nav__logotipo .nav_logoImg {
  width: 220px;
  margin-bottom: 0.5rem;
}
.header .navbar .nav__menu {
  display: flex;
  flex-direction: column;
}
.header .navbar .nav__menu .mobile_logo {
  display: none;
}
.header .navbar .nav__menu .menu__top {
  display: flex;
  justify-content: end;
  padding-bottom: 1.25rem;
}
.header .navbar .nav__menu .menu__top .top__language {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}
.header .navbar .nav__menu .menu__top .top__language .language__toggle {
  color: #fff;
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
}
.header .navbar .nav__menu .menu__top .top__language .toggle__menu {
  background-color: #fff;
}
.header .navbar .nav__menu .menu__top .top__language .toggle__menu .menu__item .item__option {
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
}
.header .navbar .nav__menu .menu__top .top__language .toggle__menu .menu__item .item__option:hover, .header .navbar .nav__menu .menu__top .top__language .toggle__menu .menu__item .item__option.show, .header .navbar .nav__menu .menu__top .top__language .toggle__menu .menu__item .item__option:focus {
  background-color: #E9F3ED;
}
.header .navbar .nav__menu .menu__top .top__language .toggle__menu .menu__item .seleccionado {
  font-weight: bold;
}
.header .navbar .nav__menu .menu__top .top__contactar .contactar__link .link__button {
  padding: 0.625rem 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  background-color: #98EF36;
  border: 1px solid #98EF36;
  color: #054349;
  font-family: "Haskoy-Medium";
  text-decoration: none;
  transition: background-color linear 0.2s;
}
.header .navbar .nav__menu .menu__top .top__contactar .contactar__link .link__button:hover {
  background-color: #fff;
  border: 1px solid #fff;
}
.header .navbar .nav__menu .nav__navbar {
  width: 100%;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list {
  border-top: 1px solid #fff;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__link {
  color: #fff;
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1.4375rem;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__ulDropdown {
  background-color: #81D8D0;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink {
  color: #303030;
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
  transition: background-color linear 0.2s;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink:hover, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink.show, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink:focus {
  color: #303030;
  background-color: #81D8D0;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa {
  text-decoration: none;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button {
  padding: 0.625rem 1rem;
  min-width: 132px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  background: rgba(0, 0, 0, 0.1215686275);
  backdrop-filter: blur(22px);
  border: 1px solid #fff;
  color: #fff;
  font-family: "Haskoy-Medium";
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color linear 0.2s;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button .button__image {
  margin: 0 0.5rem;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button:hover {
  background-color: #98EF36;
  color: #0F5E42;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button:hover .button__image {
  filter: hue-rotate(150deg) saturate(100%) brightness(50%);
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .mobile_contactar, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .mobile_lenguaje {
  display: none;
}
.header .dropdown-toggle::after {
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-bottom: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
  border-left: 0 solid transparent;
  border-top: 0 solid transparent;
}

@media only screen and (max-width: 1280px) {
  .header {
    padding: 1.5rem 2.5rem;
  }
  .header .navbar .nav__logotipo {
    margin-right: 1vw;
  }
  .header .navbar .nav__logotipo .nav_logoImg {
    width: 180px;
    margin-bottom: 0.75rem;
  }
  .header .navbar .nav__menu .menu__top .top__contactar .contactar__link .link__button {
    font-size: 1rem;
    min-width: 115px;
    padding: 0.625rem 0.75rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list {
    padding-top: 1rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__link {
    font-size: 0.9375rem;
    margin-right: 1.25rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar .navbar__usa .usa__button {
    font-size: 1rem;
    min-width: 115px;
    padding: 0.625rem 0.75rem;
  }
}
@media only screen and (max-width: 992px) {
  .header {
    padding: 0.625rem 1.25rem;
  }
  .header .navbar {
    align-items: start;
  }
  .header .navbar .nav__logotipo {
    display: none;
  }
  .header .navbar .nav__menu {
    width: 100%;
    display: contents;
    margin: 0;
  }
  .header .navbar .nav__menu .mobile_logo {
    display: block;
  }
  .header .navbar .nav__menu .mobile_logo .nav_logoImg {
    width: 120px;
  }
  .header .navbar .nav__menu .navbar-toggler {
    border: 1px solid transparent;
    padding: 0;
  }
  .header .navbar .nav__menu .navbar-toggler .navbar-toggler-icon {
    filter: hue-rotate(0deg) saturate(100%) brightness(1000%);
  }
  .header .navbar .nav__menu .menu__top {
    display: none;
  }
  .header .navbar .nav__menu .nav__navbar {
    background-color: #054349;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list {
    margin: 0 2rem;
    border-top: 1px solid transparent;
    border-bottom: 2px solid #81D8D0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__link {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .mobile_contactar,
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .mobile_lenguaje {
    display: block;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar {
    display: inline-flex;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar .navbar__usa {
    margin: 0 0.625rem;
    line-height: 1.3;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar .navbar__usa .usa__button {
    font-size: 1rem;
    min-width: 115px;
    padding: 0.625rem 0.75rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar .contactar__link {
    margin: 0 0.625rem;
    line-height: 1.3;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar .contactar__link .link__button {
    font-size: 1rem;
    background-color: #98EF36;
    border: 0;
    color: #054349;
    font-family: "Haskoy-Medium";
    text-decoration: none;
    min-width: 115px;
    padding: 0.625rem 0.75rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar .contactar__link .link__button:hover {
    background-color: #fff;
    border: 1px solid #fff;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language {
    margin-right: 0;
    margin-top: 1rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .language__toggle {
    color: #fff;
    font-family: "Haskoy-Medium";
    text-decoration: none;
    font-size: 1rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu {
    background-color: #fff;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu .menu__item .item__option {
    font-family: "Haskoy-Medium";
    text-decoration: none;
    font-size: 1rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu .menu__item .item__option:hover, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu .menu__item .item__option.show, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu .menu__item .item__option:focus {
    background-color: #E9F3ED;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu .menu__item .seleccionado {
    font-weight: bold;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .mobile__list {
    border-bottom: 2px solid transparent;
  }
}
.seccionppal {
  min-height: 53vw;
  height: auto;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  padding: 0 40px;
}
.seccionppal .seccionppal__breadcrumb {
  position: absolute;
  left: 0;
  top: 160px;
  width: 100%;
  padding: 0 3.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5625rem;
  font-size: 0.875rem;
  font-weight: 400;
  z-index: 2;
  color: #fff;
}
.seccionppal .seccionppal__breadcrumb .breadcrumb__crumbItem {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: "Haskoy-Regular";
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
}
.seccionppal .seccionppal__breadcrumb .breadcrumb__crumbItem .crumbItem__enlace {
  text-decoration: underline;
  color: inherit;
}
.seccionppal .seccionppal__breadcrumb .breadcrumb__crumbItem .crumbItem__enlace,
.seccionppal .seccionppal__breadcrumb .breadcrumb__crumbItem .crumbItem__pagina {
  white-space: nowrap;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.seccionppal .seccionppal__breadcrumb .breadcrumb__separador {
  content: "";
  display: inline-block;
  width: 4.25rem;
  height: 1px;
  background: #98EF36;
  margin: 0 10px;
}
.seccionppal .seccionppal__vector {
  background-color: #0F5E42;
  width: 56vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.seccionppal .seccionppal__vector .vector__svg {
  content: "";
  position: absolute;
  width: 8vw;
  height: 100%;
  top: 0;
  right: -95px;
  object-fit: cover;
  vertical-align: middle;
}
.seccionppal .seccionppal__imagen {
  width: 56%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  background-image: url("../images/seccionppal/sala-prensa.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.seccionppal .container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 10%;
  padding-top: 240px;
  margin: 0 auto;
  z-index: 10;
  padding-left: 0;
}
.seccionppal .container .seccionppal__cabeceraText {
  width: calc(56vw - (100vw - 1188px) / 2 - 40px);
  padding: 0;
  margin: 0;
}
.seccionppal .container .seccionppal__cabeceraText .cabeceraText__title {
  font-family: "Interstate-Condensed";
  font-size: 5rem;
  line-height: 1;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1.25rem;
}
.seccionppal .container .seccionppal__cabeceraText .cabeceraText__parrafo {
  font-size: 1.5rem;
  line-height: 1.33;
  font-weight: 600;
  color: #fff;
  padding-bottom: 0;
}

@media only screen and (max-width: 1440px) {
  .seccionppal .seccionppal__breadcrumb {
    padding: 0 2.5rem;
  }
  .seccionppal .seccionppal__vector .vector__svg {
    width: 11vw;
  }
  .seccionppal .container .seccionppal__cabeceraText {
    width: 54vw;
  }
}
@media only screen and (max-width: 1280px) {
  .seccionppal .seccionppal__vector .vector__svg {
    width: 14vw;
  }
}
@media only screen and (max-width: 992px) {
  .seccionppal {
    padding: 0;
    min-height: initial;
  }
  .seccionppal .seccionppal__breadcrumb {
    position: absolute;
    left: 0;
    top: initial;
    bottom: 0;
    z-index: 11;
    display: flex;
    overflow: auto;
    padding: 0 1.25rem 0.625rem;
  }
  .seccionppal .seccionppal__breadcrumb .breadcrumb__separador {
    width: 1.875rem;
  }
  .seccionppal .seccionppal__vector {
    display: none;
  }
  .seccionppal .seccionppal__imagen {
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .seccionppal .container {
    background-color: rgba(15, 94, 66, 0.6);
    padding: 3.75rem 0;
    position: relative;
    top: 0;
    left: 0;
  }
  .seccionppal .container .seccionppal__cabeceraText {
    padding: 1.25rem;
    width: 100%;
  }
  .seccionppal .container .seccionppal__cabeceraText .cabeceraText__title {
    font-size: 3rem;
  }
  .seccionppal .container .seccionppal__cabeceraText .cabeceraText__parrafo {
    margin-bottom: 0;
    font-size: 1.125rem;
  }
}
.main .main__bloqueListados {
  width: 100%;
  padding: 200px 40px 40px;
}
.main .main__bloqueListados .container {
  padding: 0;
}
.main .main__bloqueListados .container .bloqueListados__bloque {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem {
  width: 100%;
  max-width: calc(33.3% - 15px);
  height: auto;
  padding: 1.875rem;
  border: 2px solid #126B80;
  margin-bottom: 3.125rem;
  background-color: #fff;
  transition: all 0.2s linear;
  position: relative;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:hover {
  background-color: #81D8D0;
  padding: 2.125rem;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:hover .listItem__imgBox .imgBox__contenedor {
  transform: scaleY(0.9);
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:hover .listItem__imgBox .imgBox__contenedor .contenedor__img {
  transform: scale(1.2);
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem .listItem__date {
  font-size: 1.125rem;
  line-height: 1.44;
  font-weight: 700;
  color: #126B80;
  font-family: "Haskoy-Regular";
  position: relative;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem .listItem__date .date__enlace {
  position: relative;
  z-index: 1;
  color: inherit;
  text-decoration: none;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem .listItem__date .date__fecha {
  font-weight: 500;
  color: #303030;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem .listItem__title {
  font-family: "Interstate-Condensed";
  font-size: 1.5rem;
  line-height: 1.1;
  color: #303030;
  margin-top: 0.75rem;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem .listItem__imgBox {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin: 30px 0;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem .listItem__imgBox .imgBox__contenedor {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  transition: all 0.2s linear;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem .listItem__imgBox .imgBox__contenedor .contenedor__img {
  width: 100%;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
  transition: all 0.2s linear;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+1),
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+7) {
  max-width: 66%;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+1) .listItem__title,
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+7) .listItem__title {
  font-size: 2rem;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+1) .listItem__imgBox,
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+7) .listItem__imgBox,
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+1) .listItem__imgBox .imgBox__contenedor .contenedor__img,
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+7) .listItem__imgBox .imgBox__contenedor .contenedor__img {
  height: 300px;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:hover:nth-child(10n+1) .listItem__imgBox .imgBox__contenedor,
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:hover:nth-child(10n+7) .listItem__imgBox .imgBox__contenedor {
  transform: none;
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:hover:nth-child(10n+1) .listItem__imgBox .imgBox__contenedor .contenedor__img,
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:hover:nth-child(10n+7) .listItem__imgBox .imgBox__contenedor .contenedor__img {
  transform: scale(1.2);
}
.main .main__bloqueListados .container .bloqueListados__bloque .bloque__listLink {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.main .main__bloqueListados .container .bloqueListados__loadButton {
  display: flex;
  justify-content: flex-end;
}
.main .main__bloqueListados .container .bloqueListados__loadButton .loadButto__link {
  text-decoration: none;
}
.main .main__bloqueListados .container .bloqueListados__loadButton .loadButto__link .link__btnCarga {
  padding: 1.75rem 1.625rem;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 500;
  background-color: #98EF36;
  border: 0;
  color: #303030;
  font-family: "Haskoy-Medium";
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main__bloqueListados .container .bloqueListados__loadButton .loadButto__link .link__btnCarga:hover {
  background-color: #6fc33a;
}
.main .main__bloqueListados .container .bloqueListados__loadButton .loadButto__link .link__btnCarga:hover .carga__row {
  transform: translateX(5px);
}
.main .main__bloqueListados .container .bloqueListados__loadButton .loadButto__link .link__btnCarga .carga__row {
  padding-left: 0.5rem;
  transition: transform linear 0.2s;
}

@media only screen and (max-width: 992px) {
  .main .main__bloqueListados {
    padding: 72px 20px 40px;
  }
  .main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1.5625rem;
  }
  .main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem .listItem__imgBox {
    height: auto;
  }
  .main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem .listItem__imgBox .imgBox__contenedor .contenedor__img {
    height: auto;
  }
  .main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+1),
  .main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+7) {
    max-width: 100%;
    width: 100%;
  }
  .main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+1) .listItem__title,
  .main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+7) .listItem__title {
    font-size: 1.5rem;
  }
  .main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+1) .listItem__imgBox,
  .main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+7) .listItem__imgBox,
  .main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+1) .listItem__imgBox .imgBox__contenedor .contenedor__img,
  .main .main__bloqueListados .container .bloqueListados__bloque .bloque__listItem:nth-child(10n+7) .listItem__imgBox .imgBox__contenedor .contenedor__img {
    height: auto;
  }
  .main .main__bloqueListados .container .bloqueListados__loadButton .loadButto__link .link__btnCarga {
    padding: 1.25rem 1.625rem;
    font-size: 1rem;
  }
}
.main__contacto {
  background-color: #E9F3ED;
  padding: 100px 0 0 0;
}
.main__contacto .container {
  display: flex;
  flex-direction: column;
  max-width: 1268px;
  padding: 0 40px;
}
.main__contacto .container .contacto__divContenido .divContenido__bloqueTitulos {
  width: 100%;
}
.main__contacto .container .contacto__divContenido .divContenido__bloqueTitulos .bloqueTitulos__contacto {
  color: #14AD53;
  font-family: "Haskoy-Bold";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin-bottom: 20px;
}
.main__contacto .container .contacto__divContenido .divContenido__bloqueTitulos .bloqueTitulos__pregunta {
  color: #0F5E42;
  font-family: "Interstate-Condensed";
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 20px;
}
.main__contacto .container .contacto__divContenido .divContenido__bloqueTexto {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.main__contacto .container .contacto__divContenido .divContenido__bloqueTexto .bloqueTexto__textoEnlace {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main__contacto .container .contacto__divContenido .divContenido__bloqueTexto .bloqueTexto__textoEnlace .textoEnlace__dudas {
  color: #0F5E42;
  font-family: "Haskoy-Medium";
  font-size: 1.625rem;
  line-height: 1.15;
  font-weight: 500;
  text-align: right;
  margin-bottom: 40px;
}
.main__contacto .container .contacto__divContenido .divContenido__bloqueTexto .bloqueTexto__textoEnlace .textoEnlace__enlaceContacto .enlaceContacto__link {
  text-decoration: none;
}
.main__contacto .container .contacto__divContenido .divContenido__bloqueTexto .bloqueTexto__textoEnlace .textoEnlace__enlaceContacto .enlaceContacto__link .link__btnContacto {
  padding: 1.75rem 1.625rem;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 500;
  background-color: #98EF36;
  border: 0;
  color: #303030;
  font-family: "Haskoy-Medium";
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__contacto .container .contacto__divContenido .divContenido__bloqueTexto .bloqueTexto__textoEnlace .textoEnlace__enlaceContacto .enlaceContacto__link .link__btnContacto:hover {
  background-color: #6fc33a;
}
.main__contacto .container .contacto__divContenido .divContenido__bloqueTexto .bloqueTexto__textoEnlace .textoEnlace__enlaceContacto .enlaceContacto__link .link__btnContacto:hover .contacto__row {
  transform: translateX(5px);
}
.main__contacto .container .contacto__divContenido .divContenido__bloqueTexto .bloqueTexto__textoEnlace .textoEnlace__enlaceContacto .enlaceContacto__link .link__btnContacto .contacto__row {
  padding-left: 0.5rem;
  transition: transform linear 0.2s;
}
.main__contacto .contacto__mountains {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .main__contacto {
    padding-top: 40px;
  }
  .main__contacto .container {
    padding: 0 20px;
  }
  .main__contacto .container .contacto__divContenido .divContenido__bloqueTitulos .bloqueTitulos__contacto {
    font-size: 1rem;
    margin-bottom: 12px;
  }
  .main__contacto .container .contacto__divContenido .divContenido__bloqueTitulos .bloqueTitulos__pregunta {
    font-size: 3.125rem;
  }
  .main__contacto .container .contacto__divContenido .divContenido__bloqueTexto .bloqueTexto__textoEnlace {
    width: 90%;
  }
  .main__contacto .container .contacto__divContenido .divContenido__bloqueTexto .bloqueTexto__textoEnlace .textoEnlace__dudas {
    font-size: 1rem;
  }
  .main__contacto .container .contacto__divContenido .divContenido__bloqueTexto .bloqueTexto__textoEnlace .textoEnlace__enlaceContacto {
    margin-bottom: 0.5rem;
  }
  .main__contacto .container .contacto__divContenido .divContenido__bloqueTexto .bloqueTexto__textoEnlace .textoEnlace__enlaceContacto .enlaceContacto__link .link__btnContacto {
    padding: 1.25rem 1.625rem;
    font-size: 1rem;
  }
}
.container {
  width: 100%;
  max-width: 1188px;
  margin: auto;
}

.footer {
  padding: 3.5rem 2.5vw 2rem;
}
.footer .footer__sectionppal {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #303030;
  padding-bottom: 1rem;
}
.footer .footer__sectionppal .sectionppal__logotipo {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-bottom: 1rem;
}
.footer .footer__sectionppal .sectionppal__logotipo .logotipo__ric {
  width: 100px;
  margin-bottom: 1.5rem;
}
.footer .footer__sectionppal .sectionppal__enlaces {
  display: flex;
  justify-content: end;
  width: 100%;
}
.footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6rem;
  min-width: 210px;
}
.footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna .columna__linkTitle {
  text-decoration: none;
}
.footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna .columna__title {
  font-family: "Haskoy-SemiBold";
  color: #0F5E42;
  font-size: 1.25rem;
  margin-bottom: 1.125rem;
  font-weight: 600;
  position: relative;
}
.footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna .columna__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #0F5E42;
  transition: width linear 0.2s;
}
.footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna .columna__title:hover::after {
  width: 100%;
}
.footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna .columna__link {
  text-decoration: none;
  font-family: "Haskoy-Regular";
  color: #303030;
  font-size: 1.125rem;
  font-weight: 400;
}
.footer .footer__sectionFinal {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.footer .footer__sectionFinal .sectionFinal__politicas {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .footer__sectionFinal .sectionFinal__politicas .politicas__bloque {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
}
.footer .footer__sectionFinal .sectionFinal__politicas .politicas__bloque .bloque__enlacePoliticas {
  text-decoration: none;
  font-family: "Haskoy-Regular";
  color: #303030;
  font-size: 0.875rem;
  position: relative;
}
.footer .footer__sectionFinal .sectionFinal__politicas .politicas__bloque .bloque__enlacePoliticas::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #303030;
  transition: width linear 0.2s;
}
.footer .footer__sectionFinal .sectionFinal__politicas .politicas__bloque .bloque__enlacePoliticas:hover::after {
  width: 100%;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: end;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales .redesSociales__bloque {
  text-decoration: none;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales .redesSociales__bloque .bloque__enlaceRedesSociales {
  width: 78px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales .instagram {
  background-color: #14AD53;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales .facebook {
  background-color: #088745;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales .twitter {
  background-color: #0F5E42;
}

@media only screen and (max-width: 1440px) {
  .footer {
    padding: 2.5rem 3.5vw 2.5rem;
  }
  .footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 992px) {
  .footer {
    padding: 2.5rem;
  }
  .footer .footer__sectionppal {
    justify-content: flex-start;
    padding-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .footer__sectionppal .sectionppal__logotipo {
    align-self: center;
    padding-bottom: 0;
  }
  .footer .footer__sectionppal .sectionppal__logotipo .logotipo__ric {
    width: 50px;
    margin-bottom: 1.5rem;
  }
  .footer .footer__sectionppal .sectionppal__enlaces {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna {
    align-items: center;
    margin-left: 0;
    margin-top: 30px;
  }
  .footer .footer__sectionFinal {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__sectionFinal .sectionFinal__politicas {
    justify-content: center;
    flex-direction: column;
  }
  .footer .footer__sectionFinal .sectionFinal__politicas .politicas__bloque {
    justify-content: center;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .footer .footer__sectionFinal .sectionFinal__redesSociales {
    justify-content: center;
    width: 100%;
  }
}
body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
