@use 'variables';

.section__cabecera {
    position: relative;
    width: 100%;
    height: 905px;

    .cabecera__background {
        background-image: url('../images/main/cabecera/mujer_bosque.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 800px;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 1;
    }

    .cabecera__vector {
        position: absolute;
        text-align: center;
        z-index: 2;
        background-image: url("../images/main/cabecera/Vector_5.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 440px;
        display: flex;
        justify-content: end;
        align-items: center;

        .vector__title {
            font-family: variables.$font-interstate;
            color: #fff;
            font-size: 4.5rem;
            padding-right: 7rem;
            padding-bottom: 4rem;
        }
    }
}