@use 'variables';
@use 'functions';

.main__contacto {
    background-color: variables.$azul-claro;

    .contacto__divContenido {
        padding: 6.5rem 18.5vw 0;

        .divContenido__bloqueTitulos {
            padding: 0 0 1rem;

            .bloqueTitulos__contacto {
                color: variables.$verde-manzana;
                font-family: variables.$font-haskoy_bold;
                font-size: 1.5rem;
                line-height: .8;
                margin-bottom: 20px;
            }

            .bloqueTitulos__pregunta {
                color: variables.$verde-ric;
                font-family: variables.$font-interstate;
                font-size: 5rem;
                line-height: 1;
            }
        }

        .divContenido__texto {
            display: flex;
            justify-content: end;
            align-items: end;
            text-align: right;
            padding: 0 0 1rem;

            .texto__dudas {
                color: variables.$verde-ric;
                font-family: variables.$font-haskoy_medium;
                font-size: 1.625rem;
                line-height: 1.15;
            }
        }

        .divContenido__enlaceContacto {
            display: flex;
            justify-content: end;
            align-items: end;

            .enlaceContacto__link {
                text-decoration: none;

                .link__btnContacto {
                    padding: 1.75rem 1.625rem;
                    font-size: 1.125rem;
                    line-height: 1;
                    font-weight: 500;
                    background-color: variables.$verde-lima;
                    border: 1px solid variables.$verde-lima;
                    color: variables.$gris-oscuro;
                    font-family: variables.$font-haskoy_medium;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        border: 1px solid variables.$verde-hover;
                        background-color: variables.$verde-hover;
                    }

                    .contacto__row {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }

    .contacto__mountains {
        width: 100%;
    }
}

@media only screen and (max-width: 1440px) {
    .main__contacto {
        .contacto__divContenido {
            padding: 4.25rem 4vw 0;
        }
    }
}

@media only screen and (max-width: 992px) {
    .main__contacto {
        .contacto__divContenido {
            padding: 2.75rem 2vw 0.5rem;

            .divContenido__bloqueTitulos {
                padding: 0 0 1rem;

                .bloqueTitulos__contacto {
                    font-size: 1rem;
                    margin-bottom: 12px;
                }

                .bloqueTitulos__pregunta {
                    font-size: 3.125rem;
                }
            }

            .divContenido__texto {
                padding: 0 0 1rem;

                .texto__dudas {
                    font-size: 1rem;

                    .contacto__br {
                        display: none;
                    }
                }
            }

            .divContenido__enlaceContacto {
                .enlaceContacto__link {
                    .link__btnContacto {
                        padding: 1.25rem 1.625rem;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .main__contacto {
        .contacto__divContenido {
            padding: 2.75rem 5vw 0.5rem;

            .divContenido__texto {
                .texto__dudas {
                    .contacto__br {
                        display: block;
                    }
                }
            }
        }
    }

}