@use 'variables';


.footer {
    padding: 2rem;

    .footer__sectionppal {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid variables.$gris-oscuro;
        padding-bottom: 1rem;

        .sectionppal__logotipo {
            display: flex;
            justify-content: end;
            align-items: end;
            padding-bottom: 1rem;

            .logotipo__ric {
                width: 100px;
            }
        }

        .sectionppal__enlaces {
            display: flex;
            justify-content: space-between;
            width: 35%;

            .enlaces__columna {
                width: 33.33%;

                .columna__linkTitle {
                    text-decoration: none;
                }

                .columna__title {
                    font-family: variables.$font-haskoy_semibold;
                    color: variables.$verde-ric;
                    font-size: 1.25rem;
                    margin-bottom: 1.25rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .columna__link {
                    text-decoration: none;
                    font-family: variables.$font-haskoy_regular;
                    color: variables.$gris-oscuro;
                    font-size: 1.25rem;
                }
            }
        }
    }

    .footer__sectionFinal {
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;

        .sectionFinal__politicas {
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .politicas__bloque {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .bloque__enlacePoliticas {
                    text-decoration: none;
                    font-family: variables.$font-haskoy_regular;
                    color: variables.$gris-oscuro;
                    font-size: 0.875rem;
                }
            }
        }

        .sectionFinal__redesSociales {
            width: 50%;
            display: flex;
            justify-content: right;
            align-items: end;

            .redesSociales__bloque {
                width: 78px;
                height: 78px;
                display: flex;
                justify-content: center;
                align-items: center;

                .bloque__enlaceRedesSociales {
                    text-decoration: none;
                }
            }

            .instagram {
                background-color: variables.$verde-manzana;
            }

            .facebook {
                background-color: variables.$verde-bosque;
            }

            .twitter {
                background-color: variables.$verde-ric;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 430px) {

}