@use 'variables';

.header {
    background-color: variables.$verde-ric;
    padding: 0 3rem;

    .header__top {
        display: flex;
        justify-content: end;
        padding: 2rem 0;

        .top__language {
            margin-right: 3rem;
            display: flex;
            align-items: center;

            .language__toggle {
                color: #fff;
                font-family: variables.$font-haskoy_medium;
                text-decoration: none;
                font-size: 1rem;
            }

            .toggle__menu {
                background-color: #fff;

                .menu__item {
                    //width: 50px;

                    .item__option {
                        font-family: variables.$font-haskoy_medium;
                        text-decoration: none;
                        font-size: 1rem;
                    }

                    .item__option:hover,
                    .item__option.show,
                    .item__option:focus {
                        background-color: variables.$azul-claro;
                    }

                    .seleccionado {
                        font-weight: bold;
                    }
                }
            }
        }

        .top__contactar {
            .contactar__link {
                .link__button {
                    padding: 0.625rem 1rem;
                    font-size: 1.125rem;
                    background-color: variables.$verde-lima;
                    border: 1px solid variables.$verde-lima;
                    color: variables.$azul-egeo;
                    font-family: variables.$font-haskoy_medium;
                    text-decoration: none;
                }

                .link__button:hover {
                    background-color: #fff;
                    border: 1px solid #fff;
                }
            }
        }
    }

    .header__nav {
        background-color: variables.$verde-ric;
        display: flex;
        justify-content: space-between;

        .nav__logotipo {
            width: 30%;
        }

        .nav__navbar {
            width: 65%;

            .navbar__ul {
                list-style-type: none;
                display: flex;
                justify-content: end;


                .ul__list {
                    border-top: 1px solid #fff;
                    padding-top: 1rem;
                    display: flex;
                    align-items: center;

                    .list__link {
                        color: #fff;
                        font-family: variables.$font-haskoy_medium;
                        text-decoration: none;
                        font-size: 1rem;
                        margin-right: 2rem;
                    }

                    .list__ulDropdown {
                        background-color: variables.$azul-cielo;

                        .ulDropdown__li {
                            .li__optionLink {
                                color: variables.$gris-oscuro;
                                font-family: variables.$font-haskoy_medium;
                                text-decoration: none;
                                font-size: 1rem;
                            }

                            .li__optionLink:hover,
                            .li__optionLink.show,
                            .li__optionLink:focus {
                                color: variables.$gris-oscuro;
                                background-color: variables.$azul-cielo;
                            }

                        }
                    }

                    .navbar__usa {
                        text-decoration: none;

                        .usa__button {
                            padding: 0.25rem 2rem;
                            font-size: 1.125rem;
                            background-color: variables.$verde-usa;
                            border: 1px solid #fff;
                            color: #fff;
                            font-family: variables.$font-haskoy_medium;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .button__image {
                                margin: 0 0.5rem;
                            }
                        }

                        .usa__button:hover,
                        .usa__button.show,
                        .usa__button:focus {
                            background-color: variables.$verde-lima;
                            color: variables.$verde-ric;

                            .button__image {
                                filter: hue-rotate(150deg) saturate(100%) brightness(50%);
                            }
                        }

                    }
                }
            }
        }
    }
}