@use 'variables';
@use 'functions';

.header {
  background-color: variables.$verde-ric;

  .navbar {
    align-items: end;
    justify-content: space-between;
    padding-top: 0;

    .nav__logotipo {
      margin: 0 3rem;

      .nav_logoImg {
        width: 180px;
      }
    }

    .nav__menu {
      display: flex;
      flex-direction: column;
      margin-right: 3rem;

      .mobile_logo {
        display: none;
      }

      .menu__top {
        display: flex;
        justify-content: end;
        padding: 2rem 0;

        .top__language {
          margin-right: 3rem;
          display: flex;
          align-items: center;

          .language__toggle {
            color: #fff;
            font-family: variables.$font-haskoy_medium;
            text-decoration: none;
            font-size: functions.rem(16);
          }

          .toggle__menu {
            background-color: #fff;

            .menu__item {
              .item__option {
                font-family: variables.$font-haskoy_medium;
                text-decoration: none;
                font-size: functions.rem(16);

                &:hover, &.show, &:focus {
                  background-color: variables.$azul-claro;
                }
              }

              .seleccionado {
                font-weight: bold;
              }
            }
          }
        }

        .top__contactar {
          .contactar__link {
            .link__button {
              padding: functions.rem(10) functions.rem(16);
              font-size: functions.rem(18);
              font-weight: 500;
              line-height: 1;
              background-color: variables.$verde-lima;
              border: 1px solid variables.$verde-lima;
              color: variables.$azul-egeo;
              font-family: variables.$font-haskoy_medium;
              text-decoration: none;
              transition: background-color linear 0.2s;

              &:hover {
                background-color: #fff;
                border: 1px solid #fff;
              }
            }
          }
        }
      }

      .nav__navbar {
        width: 100%;

        .navbar__ul {
          list-style-type: none;
          display: flex;
          justify-content: end;


          .ul__list {
            border-top: 1px solid #fff;
            padding-top: functions.rem(16);
            display: flex;
            align-items: center;

            .list__link {
              color: #fff;
              font-family: variables.$font-haskoy_medium;
              text-decoration: none;
              font-size: functions.rem(16);
              margin-right: 3vw;
            }

            .list__ulDropdown {
              background-color: variables.$azul-cielo;

              .ulDropdown__li {
                .li__optionLink {
                  color: variables.$gris-oscuro;
                  font-family: variables.$font-haskoy_medium;
                  text-decoration: none;
                  font-size: functions.rem(16);
                  transition: background-color linear 0.2s;

                  &:hover, &.show, &:focus {
                    color: variables.$gris-oscuro;
                    background-color: variables.$azul-cielo;
                  }
                }
              }
            }

            .navbar__usa {
              text-decoration: none;

              .usa__button {
                padding: functions.rem(4) functions.rem(32);
                font-size: functions.rem(18);
                background-color: variables.$verde-usa;
                border: 1px solid #fff;
                color: #fff;
                font-family: variables.$font-haskoy_medium;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color linear 0.2s;

                .button__image {
                  margin: 0 functions.rem(8);
                }

                &:hover, &.show, &:focus {
                  background-color: variables.$verde-lima;
                  color: variables.$verde-ric;

                  .button__image {
                    filter: hue-rotate(150deg) saturate(100%) brightness(50%);
                  }
                }
              }
            }

            .mobile_contactar, .mobile_lenguaje {
              display: none;
            }
          }
        }
      }
    }
  }

  .dropdown-toggle::after {
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border-bottom: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
    border-left: 0 solid transparent;
    border-top: 0 solid transparent;
  }
}

@media only screen and (max-width: 1440px) {
  .header {
    .navbar {
      .nav__logotipo {
        margin-left: functions.rem(40);
        margin-right: 1vw;

        .nav_logoImg {
          padding-bottom: functions.rem(8);
        }
      }

      .nav__menu {
        margin-right: functions.rem(40);

        .menu__top {
          padding: functions.rem(24) 0;

          .top__contactar {
            .contactar__link {
              .link__button {
                font-size: functions.rem(16);
                //padding: functions.rem(4) functions.rem(16);
              }
            }
          }
        }

        .nav__navbar {
          .navbar__ul {
            .ul__list {
              .list__link {
                font-size: functions.rem(15);
                margin-right: 0.7vw;
              }

              .list__navbar {
                .navbar__usa {
                  .usa__button {
                    padding: functions.rem(4) functions.rem(22.4);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .header {
    .navbar {
      padding-top: functions.rem(32);

      .nav__logotipo {
        display: none;
      }

      .nav__menu {
        width: 100%;
        display: contents;
        margin: 0;

        .mobile_logo {
          display: block;
          margin-left: functions.rem(48);

          .nav_logoImg {
            width: 120px;
          }
        }

        .navbar-toggler {
          margin-right: functions.rem(48);
          border: 1px solid transparent;

          .navbar-toggler-icon {
            filter: hue-rotate(0deg) saturate(100%) brightness(1000%);
          }
        }

        .menu__top {
          display: none;
        }

        .nav__navbar {
          background-color: variables.$azul-egeo;

          .navbar__ul {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: flex-start;

            .ul__list {
              margin: 0 functions.rem(32);
              border-top: 1px solid transparent;
              border-bottom: 2px solid variables.$azul-cielo;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              flex-direction: column;

              .list__link {
                margin-bottom: functions.rem(8);
                margin-right: 0;
              }

              .mobile_contactar,
              .mobile_lenguaje {
                display: block;
              }

              .list__navbar {
                display: inline-flex;

                .navbar__usa {
                  margin-right: functions.rem(32);

                  .usa__button {
                    font-size: functions.rem(16);
                  }
                }

                .contactar__link {
                  .link__button {
                    padding: functions.rem(4) functions.rem(16);
                    font-size: functions.rem(16);
                    background-color: variables.$verde-lima;
                    border: 1px solid variables.$verde-lima;
                    color: variables.$azul-egeo;
                    font-family: variables.$font-haskoy_medium;
                    text-decoration: none;

                    &:hover {
                      background-color: #fff;
                      border: 1px solid #fff;
                    }
                  }
                }
              }

              .top__language {
                margin-right: 0;
                margin-top: functions.rem(16);

                .language__toggle {
                  color: #fff;
                  font-family: variables.$font-haskoy_medium;
                  text-decoration: none;
                  font-size: functions.rem(16);
                }

                .toggle__menu {
                  background-color: #fff;

                  .menu__item {
                    .item__option {
                      font-family: variables.$font-haskoy_medium;
                      text-decoration: none;
                      font-size: functions.rem(16);

                      &:hover, &.show, &:focus {
                        background-color: variables.$azul-claro;
                      }
                    }

                    .seleccionado {
                      font-weight: bold;
                    }
                  }
                }
              }
            }

            .mobile__list {
              border-bottom: 2px solid transparent;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding-bottom: functions.rem(80);
  }
}

@media only screen and (max-width: 430px) {
  .header {
    .navbar {
      padding-top: functions.rem(4);

      .nav__menu {
        .mobile_logo {
          margin-left: functions.rem(16);
        }

        .navbar-toggler {
          margin-right: functions.rem(16);
        }
      }
    }
  }
}