@import 'somos_section';
@import 'nosotros_section';
@import 'tecnologias_section';
@import 'presencia_section';
@import 'partners_section';
@import 'noticias_section';
@import 'contacto_section';

.container {
  width: 100%;
  max-width: 1188px;
  margin: auto;
  overflow: hidden;
}