@use 'variables';

.main__noticias {
    background-color: #fff;

    .noticias__encabezado {
        padding: 7.5rem 18.5vw 1.5rem;
        display: flex;
        justify-content: space-between;

        .encabezado__bloqueTitle {
            .bloqueTitle {
                font-family: variables.$font-interstate;
                color: variables.$verde-ric;
                font-size: 3rem;
            }
        }

        .encabezado__bloqueLink {
            .bloqueLink__enlace {
                text-decoration: none;

                .enlace__noticias {
                    padding: 1.75rem 1.625rem;
                    font-size: 1.125rem;
                    background-color: variables.$verde-lima;
                    border: 1px solid variables.$verde-lima;
                    color: variables.$gris-oscuro;
                    font-family: variables.$font-haskoy_medium;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        border: 1px solid variables.$verde-hover;
                        background-color: variables.$verde-hover;
                    }

                    .noticias__row {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }

    .noticias__slider {
        margin: 0 9vw;

        .slider__container {
            background-color: variables.$verde-manzana;
            margin: 3rem 9vw;

            .container__newsInformation {
                padding: 2rem 2rem 0 2rem;
                display: flex;
                justify-content: flex-start;

                .newsInformation__encabezado {
                    font-family: variables.$font-haskoy_medium;
                    color: variables.$verde-lima;
                    font-size: 1.125rem;
                    line-height: 1.44;
                    padding: 0.25rem 1rem;
                    display: flex;
                    align-items: center;
                }

                .newsInformation__line {
                    border-right: 1px solid #fff;
                    height: 35px;
                }

                .newsInformation__date {
                    font-family: variables.$font-haskoy_medium;
                    color: #fff;
                    font-size: 1.125rem;
                    padding: 0.25rem 1rem;
                    display: flex;
                    align-items: center;
                }
            }

            .container__newsContent {
                padding: 0 2rem 2rem 2rem;
                display: flex;
                justify-content: space-between;

                .newsContent__bloque {
                    display: flex;
                    justify-content: baseline;
                    align-items: end;

                    .bloque__newsParrafo {
                        font-family: variables.$font-interstate;
                        color: #fff;
                        font-size: 2.5rem;
                        line-height: 1.15;
                        font-weight: 700;
                    }
                }

                .newsContent__img {
                    width: 27vw;
                    height: 20vw;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                .new1 {
                    background-image: url("../images/main/noticias/new1.png");
                }

                .new2 {
                    background-image: url("../images/main/noticias/new2.png");
                }

                .new3 {
                    background-image: url("../images/main/noticias/new3.png");
                }

                .new4 {
                    background-image: url("../images/main/noticias/new4.png");
                }

                .new5 {
                    background-image: url("../images/main/noticias/new5.png");
                }

                .new6 {
                    background-image: url("../images/main/noticias/new6_1.png");
                }
            }
        }
    }

    .noticias__controller {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 19vw;

        .controller__progressBar {
            width: 100%;
            margin: 2.5rem 0 3rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .progressbar__bloque {
                border-bottom: 2px solid variables.$gris-oscuro;
                width: 16.67%;
            }

            .active_news {
                border-bottom: 10px solid variables.$gris-oscuro;
            }
        }

        .controller__panel {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 3rem;

            .arrows__btn {
                .btn__flecha {
                    background-color: transparent;
                    border: 1px solid transparent;
                    color: variables.$gris-oscuro;
                    cursor: pointer;
                    font-size: 3rem;
                }

                .opacity_news {
                    opacity: 0.5;
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .main__noticias {
        .noticias__encabezado {
            padding: 7.5rem 6.5vw 1.5rem;
        }

        .noticias__slider {
            margin: 0;
            padding: 0;

            .slider__container {
                margin: 3rem 7vw;

                .container__newsContent {
                    .newsContent__img {
                        width: 31vw;
                        height: 27.5vw;
                    }
                }
            }
        }

        .noticias__controller {
            margin: 0 7vw;
        }
    }
}

@media only screen and (max-width: 992px) {
    .main__noticias {
        .noticias__encabezado {
            padding: 2.5rem 3.5vw 1.5rem;

            .encabezado__bloqueTitle {
                .bloqueTitle {
                    font-size: 2.375rem;
                }
            }

            .encabezado__bloqueLink {
                .bloqueLink__enlace {
                    .enlace__noticias {
                        padding: 1.25rem 1.625rem;
                        font-size: 1rem;
                    }
                }
            }
        }

        .noticias__slider {
            .slider__container {
                margin: 3rem 3vw;

                .container__newsInformation {

                    .newsInformation__encabezado {
                        font-size: 0.875rem;
                        padding: 0.25rem 0.5rem;
                    }

                    .newsInformation__line {
                        height: 30px;
                    }

                    .newsInformation__date {
                        font-size: 0.875rem;
                        padding: 0.25rem 0.5rem;
                    }
                }

                .container__newsContent {
                    flex-direction: column;

                    .newsContent__bloque {
                        .bloque__newsParrafo {
                            font-size: 1.5rem;

                            .news__br {
                                display: none;
                            }
                        }
                    }

                    .newsContent__img {
                        width: 100%;
                        height: 38vw;
                    }
                }
            }
        }

        .noticias__controller {
            margin: 0 3vw;
        }
    }
}

@media only screen and (max-width: 768px) {
    .main__noticias {
        .noticias__encabezado {
            flex-direction: column;

            .encabezado__bloqueLink {
                padding-top: 1rem;
                display: flex;
                justify-content: right;
                align-items: end;
            }
        }

        .noticias__slider {
            .slider__container {
                .container__newsContent {
                    .newsContent__img {
                        width: 100%;
                        height: 58vw;
                    }
                }
            }
        }
    }
}