@use 'variables';

.main__partners {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/main/partners/fondo.png");

    .partners__encabezado {
        padding: 8.5rem 0 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .encabezado__title {
            font-family: variables.$font-interstate;
            color: #fff;
            font-size: 4rem;
            line-height: 1.04;
        }

        .encabezado__parrafo {
            font-family: variables.$font-haskoy_medium;
            color: #fff;
            font-size: 1.5rem;
            line-height: 1.33;
            font-weight: 700;
        }
    }

    .partners__slider {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 12vw;

        .slider__object {
            display: flex;
            align-items: center;
            justify-content: center;

            .object__partner {
                width: 15vw;
            }
        }
    }

    .controls__slider {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 0 19.5vw;

        .slider__arrows {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2.25vw;

            .arrows__arrow {
                .arrow__btn {
                    background-color: transparent;
                    border: 1px solid transparent;
                    color: #fff;
                    cursor: pointer;
                    font-size: 3rem;
                }

                .opacity_partners {
                    opacity: 0.5;
                }
            }
        }

        .slider__progressBar {
            width: 100%;
            margin: 2.5rem 0 10rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .progressbar__section {
                border-bottom: 2px solid #fff;
                width: 33%;
                //height: 64px;
            }

            .active_partners {
                border-bottom: 10px solid #fff;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .main__partners {
        .partners__slider {
            margin: 0 5vw;
        }

        .controls__slider {
            margin: 0 8.5vw;

            .slider__arrows {
                .arrows__arrow {
                    .arrow__btn {
                        font-size: 3rem;
                    }
                }
            }

            .slider__arrows {
                margin-left: 4vw;
            }
        }
    }

}

@media only screen and (max-width: 992px) {
    body {
        /* Necesario para que el desbordamiento del slider no haga que haya un scroll de izquierda a derecha */
        overflow-x: hidden;
    }

    .main__partners {
        .partners__encabezado {
            padding: 2.5rem;

            .encabezado__title {
                font-size: 2.375rem;
            }

            .encabezado__parrafo {
                font-size: 1.188rem;
                padding: 1rem 0;
                font-weight: inherit;

                .partners__br {
                    display: none;
                }
            }
        }

        .partners__slider {
            //margin: 0 5.75vw;
            margin: 0;
            padding: 0;
            overflow-x: hidden;

            .slider__object {
                .object__partner {
                    width: 21vw;
                }
            }
        }

        .controls__slider {
            margin: 0 10.5vw;

            .slider__arrows {
                .arrows__arrow {
                    .arrow__btn {
                        font-size: 2.5rem;
                    }
                }
            }

            .slider__progressBar {
                margin: 2rem 0 4rem;
            }
        }
    }
}