@use 'variables';

.main__somos {
    background-color: variables.$verde-oscuro;
    position: relative;
    z-index: 2;
    height: 624px;

    .somos__informacion {
        width: 23vw;
        margin-left: 15vw;
        padding-top: 10vw;

        .informacion__titulo {
            color: #fff;
            font-family: variables.$font-interstate;
            font-size: 3rem;
        }

        .informacion__contenido {
            color: #fff;
            font-family: variables.$font-haskoy_medium;
        }
    }

    .somos__bottom {
        display: flex;
        justify-content: space-between;

        .bottom__enlace {
            padding-top: 3rem;
            margin-left: 15vw;

            .enlace__link {
                text-decoration: none;

                .link__verMas {
                    padding: 1rem 2rem;
                    font-size: 1.125rem;
                    background-color: variables.$verde-lima;
                    border: 1px solid variables.$verde-lima;
                    color: variables.$gris-oscuro;
                    font-family: variables.$font-haskoy_medium;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .verMas__row {
                        padding-left: 1rem;
                    }
                }
            }
        }

        .bottom__waves {
            display: flex;
            justify-content: end;
            align-items: baseline;

            .waves__image {
                width: 520px;
                height: 230px;
            }
        }
    }
}