@use 'variables';

.main__tecnologias {
    background-size: cover;
    background-position: unset;
    background-repeat: no-repeat;
    background-image: url("../images/main/tecnologias/base_2.png");

    .tecnologias__vector {
        width: 100%;
        margin-top: -1rem;
    }

    .tecnologias__container {
        width: 100%;

        .container__title {
            padding: 8rem 19vw 3rem;

            .title {
                font-family: variables.$font-interstate;
                color: variables.$verde-lima;
                font-size: 3rem;
            }
        }

        .container__tabs {
            padding: 1rem 3vw 12rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;


            .tabs__tab {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 582px;
                height: 448.6px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                margin-bottom: 1.5rem;
                margin-right: 2rem;
            }

            .tab__title {
                display: flex;
                align-items: end;
                justify-content: flex-start;
                padding: 0 2rem;

                .title__tech {
                    font-family: variables.$font-haskoy_bold;
                    color: variables.$verde-lima;
                    font-size: 1.875rem;
                    line-height: 1.23;
                }
            }

            .tab__contenido {
                font-family: variables.$font-haskoy_medium;
                color: #fff;
                font-size: 1.5rem;
                line-height: 1.29;
                padding: 0 2rem;
            }

            .tab__button {
                display: flex;
                justify-content: right;
                align-items: flex-end;

                .button__enlace {
                    text-decoration: none;

                    .enlace__ampliar {
                        padding: 1.75rem 1.625rem;
                        font-size: 1.125rem;
                        background-color: variables.$verde-lima;
                        border: 1px solid variables.$verde-lima;
                        color: variables.$gris-oscuro;
                        font-family: variables.$font-haskoy_medium;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            opacity: 0.75;
                        }

                        .ampliar__row {
                            padding-left: 1rem;
                        }
                    }
                }
            }
        }

        .solar {
            background-image: url('../images/main/tecnologias/solar.png');
        }

        .hidrogeno {
            background-image: url('../images/main/tecnologias/hidrogeno.png');
        }

        .biogas {
            background-image: url('../images/main/tecnologias/biogas.png');
        }

        .almacenamiento {
            background-image: url('../images/main/tecnologias/almacenamiento.png');
        }
    }
}

@media only screen and (max-width: 1440px) {
    .main__tecnologias {
        .tecnologias__container {
            .container__title {
                padding: 9rem 4.5vw 3rem;
            }

            .container__tabs {
                padding: 1rem 0 12rem;

                .tabs__tab {
                    width: 44vw;
                    height: 511px;
                    background-size: contain;
                    background-position: top;
                    background-color: variables.$azul-mar;

                    .tab__title {
                        .title__tech {
                            .tech_br {
                                display: none;
                            }
                        }
                    }
                }

                .tab__contenido {
                    .tab__br {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .main__tecnologias {
        .tecnologias__container {
            .container__title {
                padding: 2.5rem 2vw 0.5rem;

                .title {
                    font-size: 2.375rem;
                }
            }

            .container__tabs {
                padding: 1rem 2vw 8rem;
                flex-wrap: inherit;
                flex-direction: column;

                .tabs__tab {
                    width: 100%;
                    height: 292px;
                    background-position: right;

                    .tab__title {
                        width: 85%;

                        .title__tech {
                            font-size: 1.5rem;
                        }
                    }

                    .tab__contenido {
                        font-size: 1.25rem;
                    }
                }

                .tab__button {
                    .button__enlace {
                        .enlace__ampliar {
                            padding: 1rem 1.625rem;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .main__tecnologias {
        .tecnologias__container {
            .container__tabs {
                .tabs__tab {
                    height: 350px;
                    .tab__title {
                        width: 75%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .main__tecnologias {
        .tecnologias__container {
            .container__title {
                padding: 2.5rem 1.5rem 0.5rem;
            }

            .container__tabs {
                padding: 1rem 1.5rem 8rem;

                .tabs__tab {
                    background-size: contain;
                    background-position: top;

                    .tab__title {
                        width: 100%;

                        .title__tech {
                            font-size: 1.25rem;
                        }
                    }

                    .tab__contenido {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}