@font-face {
  font-family: "Haskoy-Medium";
  src: url("../../fonts/Haskoy_Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Haskoy-Bold";
  src: url("../../fonts/Haskoy-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Interstate-Condensed";
  src: url("../../fonts/Interstate_Condensed_Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.header {
  background-color: #0F5E42;
  padding: 0 3rem;
}
.header .header__top {
  display: flex;
  justify-content: end;
  padding: 2rem 0;
}
.header .header__top .top__language {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}
.header .header__top .top__language .language__toggle {
  color: #fff;
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
}
.header .header__top .top__language .toggle__menu {
  background-color: #0F5E42;
}
.header .header__top .top__language .toggle__menu .menu__item .item__option {
  color: #fff;
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
}
.header .header__top .top__language .toggle__menu .menu__item .item__option:hover,
.header .header__top .top__language .toggle__menu .menu__item .item__option.show,
.header .header__top .top__language .toggle__menu .menu__item .item__option:focus {
  color: #fff;
  background-color: #088745;
}
.header .header__top .top__contactar .contactar__link .link__button {
  padding: 0.25rem 1rem;
  font-size: 1rem;
  background-color: #98EF36;
  border: 1px solid #98EF36;
  color: #054349;
  font-family: "Haskoy-Medium";
  text-decoration: none;
}
.header .header__nav {
  background-color: #0F5E42;
  display: flex;
  justify-content: space-between;
}
.header .header__nav .nav__logotipo {
  width: 30%;
}
.header .header__nav .nav__navbar {
  width: 65%;
}
.header .header__nav .nav__navbar .navbar__ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
}
.header .header__nav .nav__navbar .navbar__ul .ul__list {
  border-top: 1px solid #fff;
  padding-top: 1rem;
  display: flex;
  align-items: center;
}
.header .header__nav .nav__navbar .navbar__ul .ul__list .list__link {
  color: #fff;
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
  margin-right: 2rem;
}
.header .header__nav .nav__navbar .navbar__ul .ul__list .list__ulDropdown {
  background-color: #0F5E42;
}
.header .header__nav .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink {
  color: #fff;
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
}
.header .header__nav .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink:hover,
.header .header__nav .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink.show,
.header .header__nav .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink:focus {
  color: #fff;
  background-color: #088745;
}
.header .header__nav .nav__navbar .navbar__ul .ul__list .navbar__usa {
  text-decoration: none;
}
.header .header__nav .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button {
  padding: 0.25rem 2rem;
  font-size: 1.25rem;
  background-color: #0d533a;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Haskoy-Medium";
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__nav .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button .button__image {
  margin: 0 0.5rem;
}

.section__cabecera {
  position: relative;
  width: 100%;
  height: 905px;
}
.section__cabecera .cabecera__background {
  background-image: url("../images/main/cabecera/mujer_bosque.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
  position: absolute;
  top: 12%;
  left: 0;
  z-index: 1;
}
.section__cabecera .cabecera__vector {
  position: absolute;
  text-align: center;
  z-index: 2;
  background-image: url("../images/main/cabecera/Vector_5.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.section__cabecera .cabecera__vector .vector__title {
  font-family: "Interstate-Condensed";
  color: #fff;
  font-size: 4.5rem;
  padding-right: 7rem;
  padding-bottom: 4rem;
}

.main__somos {
  background-color: #072517;
  position: relative;
  z-index: 2;
  height: 624px;
}
.main__somos .somos__informacion {
  width: 23vw;
  margin-left: 15vw;
  padding-top: 10vw;
}
.main__somos .somos__informacion .informacion__titulo {
  color: #fff;
  font-family: "Interstate-Condensed";
  font-size: 3rem;
}
.main__somos .somos__informacion .informacion__contenido {
  color: #fff;
  font-family: "Haskoy-Medium";
}
.main__somos .somos__bottom {
  display: flex;
  justify-content: space-between;
}
.main__somos .somos__bottom .bottom__enlace {
  padding-top: 3rem;
  margin-left: 15vw;
}
.main__somos .somos__bottom .bottom__enlace .enlace__link {
  text-decoration: none;
}
.main__somos .somos__bottom .bottom__enlace .enlace__link .link__verMas {
  padding: 1rem 2rem;
  font-size: 1.125rem;
  background-color: #98EF36;
  border: 1px solid #98EF36;
  color: #303030;
  font-family: "Haskoy-Medium";
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__somos .somos__bottom .bottom__enlace .enlace__link .link__verMas .verMas__row {
  padding-left: 1rem;
}
.main__somos .somos__bottom .bottom__waves {
  display: flex;
  justify-content: end;
  align-items: baseline;
}
.main__somos .somos__bottom .bottom__waves .waves__image {
  width: 520px;
  height: 240px;
}

.main__nosotros {
  background-color: #fff;
}
.main__nosotros .nosotros__cabecera {
  padding-top: 10rem;
  padding-left: 10rem;
  padding-bottom: 3rem;
}
.main__nosotros .nosotros__cabecera .cabecera__titulo {
  font-family: "Interstate-Condensed";
  color: #054349;
  font-size: 3rem;
}
.main__nosotros .nosotros__bloques {
  display: flex;
  margin: 2rem 10rem;
}
.main__nosotros .nosotros__bloques .bloques__resumen {
  /* 
  width: 500px;
  height: 346px; 
  */
  width: 26vw;
  height: 18vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__nosotros .nosotros__bloques .bloques__resumen .resumen__title {
  font-family: "Haskoy-Medium";
  color: #054349;
  font-size: 4rem;
  padding-left: 2rem;
  padding-top: 1rem;
}
.main__nosotros .nosotros__bloques .bloques__resumen .resumen__title .unidades {
  font-family: "Haskoy-Bold";
  font-size: 2rem;
}
.main__nosotros .nosotros__bloques .bloques__resumen .resumen__contenido {
  color: #fff;
  font-family: "Haskoy-Bold";
  font-size: 1.325rem;
  line-height: 26px;
  padding-left: 2rem;
}
.main__nosotros .nosotros__bloques .bloques__resumen .resumen_subtitle {
  color: #fff;
  font-family: "Haskoy-Bold";
  font-size: 1.75rem;
  line-height: 22px;
  padding-left: 2rem;
}
.main__nosotros .nosotros__bloques .pipeline {
  background-image: url("../images/main/nosotros/pipeline.png");
}
.main__nosotros .nosotros__bloques .empleados {
  background-image: url("../images/main/nosotros/empleado.png");
}
.main__nosotros .nosotros__bloques .continentes {
  background-image: url("../images/main/nosotros/continentes.png");
}
.main__nosotros .nosotros__bloques .paises {
  background-image: url("../images/main/nosotros/paises.png");
}
.main__nosotros .nosotros__bloques .proyectos {
  background-image: url("../images/main/nosotros/proyectos.png");
}
.main__nosotros .fila_uno {
  justify-content: space-between;
}
.main__nosotros .fila_dos {
  justify-content: space-evenly;
}

/* 
.cabecera__titulo {
            font-family: variables.$font-haskoy;
            color: variables.$azul-egeo;
        }
*/
.main__tecnologias {
  background-color: #054349;
}
.main__tecnologias .tecnologias__vector {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
