@font-face {
  font-family: "Haskoy-Medium";
  src: url("../../fonts/Haskoy_Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Haskoy-Bold";
  src: url("../../fonts/Haskoy-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Haskoy-SemiBold";
  src: url("../../fonts/Haskoy-SemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Haskoy-Regular";
  src: url("../../fonts/Haskoy-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Interstate-Condensed";
  src: url("../../fonts/Interstate_Condensed_Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.header {
  background-color: #0F5E42;
}
.header .navbar {
  align-items: end;
  justify-content: space-between;
}
.header .navbar .nav__logotipo {
  margin: 0 3rem;
}
.header .navbar .nav__logotipo .nav_logoImg {
  width: 180px;
}
.header .navbar .nav__menu {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}
.header .navbar .nav__menu .mobile_logo {
  display: none;
}
.header .navbar .nav__menu .menu__top {
  display: flex;
  justify-content: end;
  padding: 2rem 0;
}
.header .navbar .nav__menu .menu__top .top__language {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}
.header .navbar .nav__menu .menu__top .top__language .language__toggle {
  color: #fff;
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
}
.header .navbar .nav__menu .menu__top .top__language .toggle__menu {
  background-color: #fff;
}
.header .navbar .nav__menu .menu__top .top__language .toggle__menu .menu__item .item__option {
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
}
.header .navbar .nav__menu .menu__top .top__language .toggle__menu .menu__item .item__option:hover, .header .navbar .nav__menu .menu__top .top__language .toggle__menu .menu__item .item__option.show, .header .navbar .nav__menu .menu__top .top__language .toggle__menu .menu__item .item__option:focus {
  background-color: #E9F3ED;
}
.header .navbar .nav__menu .menu__top .top__language .toggle__menu .menu__item .seleccionado {
  font-weight: bold;
}
.header .navbar .nav__menu .menu__top .top__contactar .contactar__link .link__button {
  padding: 0.625rem 1rem;
  font-size: 1.125rem;
  background-color: #98EF36;
  border: 1px solid #98EF36;
  color: #054349;
  font-family: "Haskoy-Medium";
  text-decoration: none;
}
.header .navbar .nav__menu .menu__top .top__contactar .contactar__link .link__button:hover {
  background-color: #fff;
  border: 1px solid #fff;
}
.header .navbar .nav__menu .nav__navbar {
  width: 100%;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list {
  border-top: 1px solid #fff;
  padding-top: 1rem;
  display: flex;
  align-items: center;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__link {
  color: #fff;
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
  margin-right: 3vw;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__ulDropdown {
  background-color: #81D8D0;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink {
  color: #303030;
  font-family: "Haskoy-Medium";
  text-decoration: none;
  font-size: 1rem;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink:hover, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink.show, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__ulDropdown .ulDropdown__li .li__optionLink:focus {
  color: #303030;
  background-color: #81D8D0;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa {
  text-decoration: none;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button {
  padding: 0.25rem 2rem;
  font-size: 1.125rem;
  background-color: #0d533a;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Haskoy-Medium";
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button .button__image {
  margin: 0 0.5rem;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button:hover, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button.show, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button:focus {
  background-color: #98EF36;
  color: #0F5E42;
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button:hover .button__image, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button.show .button__image, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .navbar__usa .usa__button:focus .button__image {
  filter: hue-rotate(150deg) saturate(100%) brightness(50%);
}
.header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .mobile_contactar, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .mobile_lenguage {
  display: none;
}

@media only screen and (max-width: 1440px) {
  .header .navbar .nav__logotipo {
    margin-left: 2.5rem;
    margin-right: 1vw;
  }
  .header .navbar .nav__logotipo .nav_logoImg {
    padding-bottom: 0.5rem;
  }
  .header .navbar .nav__menu {
    margin-right: 2.5rem;
  }
  .header .navbar .nav__menu .menu__top {
    padding: 1.5rem 0;
  }
  .header .navbar .nav__menu .menu__top .top__contactar .contactar__link .link__button {
    font-size: 1rem;
    padding: 0.25rem 1rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__link {
    font-size: 0.938rem;
    margin-right: 0.7vw;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar .navbar__usa .usa__button {
    padding: 0.25rem 1.4rem;
  }
}
@media only screen and (max-width: 992px) {
  .header .navbar {
    padding-top: 2rem;
  }
  .header .navbar .nav__logotipo {
    display: none;
  }
  .header .navbar .nav__menu {
    width: 100%;
    display: contents;
    margin: 0;
  }
  .header .navbar .nav__menu .mobile_logo {
    display: block;
    margin-left: 3rem;
  }
  .header .navbar .nav__menu .mobile_logo .nav_logoImg {
    width: 120px;
  }
  .header .navbar .nav__menu .navbar-toggler {
    margin-right: 3rem;
    border: 1px solid transparent;
  }
  .header .navbar .nav__menu .navbar-toggler .navbar-toggler-icon {
    filter: hue-rotate(0deg) saturate(100%) brightness(1000%);
  }
  .header .navbar .nav__menu .menu__top {
    display: none;
  }
  .header .navbar .nav__menu .nav__navbar {
    background-color: #054349;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list {
    margin: 0 2rem;
    border-top: 1px solid transparent;
    border-bottom: 2px solid #81D8D0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__link {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .mobile_contactar,
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .mobile_lenguage {
    display: block;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar {
    display: inline-flex;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar .navbar__usa {
    margin-right: 2rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar .navbar__usa .usa__button {
    font-size: 1rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar .contactar__link .link__button {
    padding: 0.25rem 1rem;
    font-size: 1rem;
    background-color: #98EF36;
    border: 1px solid #98EF36;
    color: #054349;
    font-family: "Haskoy-Medium";
    text-decoration: none;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .list__navbar .contactar__link .link__button:hover {
    background-color: #fff;
    border: 1px solid #fff;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language {
    margin-right: 0;
    margin-top: 1rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .language__toggle {
    color: #fff;
    font-family: "Haskoy-Medium";
    text-decoration: none;
    font-size: 1rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu {
    background-color: #fff;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu .menu__item .item__option {
    font-family: "Haskoy-Medium";
    text-decoration: none;
    font-size: 1rem;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu .menu__item .item__option:hover, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu .menu__item .item__option.show, .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu .menu__item .item__option:focus {
    background-color: #E9F3ED;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .ul__list .top__language .toggle__menu .menu__item .seleccionado {
    font-weight: bold;
  }
  .header .navbar .nav__menu .nav__navbar .navbar__ul .mobile__list {
    border-bottom: 2px solid transparent;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    padding-bottom: 5rem;
  }
}
.section__cabecera {
  position: relative;
  width: 100%;
  height: 905px;
}
.section__cabecera .cabecera__background {
  background-image: url("../images/main/cabecera/mujer_bosque.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
  position: absolute;
  top: 12%;
  left: 0;
  z-index: 1;
}
.section__cabecera .cabecera__vector {
  position: absolute;
  text-align: center;
  z-index: 2;
  background-image: url("../images/main/cabecera/Vector_5.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.section__cabecera .cabecera__vector .vector__title {
  font-family: "Interstate-Condensed";
  color: #fff;
  font-size: 4.5rem;
  line-height: 1.1;
  padding-right: 7rem;
  padding-bottom: 4rem;
}

@media only screen and (max-width: 1440px) {
  .section__cabecera {
    /* height: 625px;  */
    height: 55vw;
  }
  .section__cabecera .cabecera__background {
    /* height: 550px; */
    /* height: 44vw; */
    height: 80%;
    top: 25%;
  }
  .section__cabecera .cabecera__vector {
    background-size: inherit;
  }
  .section__cabecera .cabecera__vector .vector__title {
    font-size: 4rem;
    padding-right: 8rem;
    padding-bottom: 14rem;
  }
}
@media only screen and (max-width: 768px) {
  .section__cabecera .cabecera__background {
    height: 90%;
    top: 17%;
  }
  .section__cabecera .cabecera__vector {
    background-size: contain;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
  }
  .section__cabecera .cabecera__vector .vector__title {
    font-size: 2.75rem;
    padding-right: 0;
    padding-bottom: 25rem;
    margin: 2rem 0;
  }
  .section__cabecera .cabecera__vector .vector__title .mobile__cabecera {
    display: none;
  }
}
@media only screen and (max-width: 430px) {
  .section__cabecera {
    height: 73vw;
  }
  .section__cabecera .cabecera__background {
    height: 100%;
    top: 8%;
  }
  .section__cabecera .cabecera__vector .vector__title {
    padding-bottom: 29rem;
    margin: 4rem 0;
  }
}
.main__somos {
  background-color: #072517;
}
.main__somos .somos__informacion {
  margin-left: 25vw;
  padding-top: 10vw;
}
.main__somos .somos__informacion .informacion__titulo {
  color: #fff;
  font-family: "Interstate-Condensed";
  font-size: 3rem;
  line-height: 1.04;
}
.main__somos .somos__informacion .informacion__contenido {
  color: #fff;
  font-family: "Haskoy-Medium";
}
.main__somos .somos__bottom {
  display: flex;
  justify-content: space-between;
}
.main__somos .somos__bottom .bottom__enlace {
  padding-top: 3rem;
  margin-left: 25vw;
}
.main__somos .somos__bottom .bottom__enlace .enlace__link {
  text-decoration: none;
}
.main__somos .somos__bottom .bottom__enlace .enlace__link .link__verMas {
  padding: 2rem 2.25rem;
  font-size: 1.125rem;
  line-height: 1.44;
  font-weight: 500;
  background-color: #98EF36;
  border: 1px solid #98EF36;
  color: #303030;
  font-family: "Haskoy-Medium";
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__somos .somos__bottom .bottom__enlace .enlace__link .link__verMas .verMas__row {
  padding-left: 1rem;
}
.main__somos .somos__bottom .bottom__waves {
  display: flex;
  justify-content: end;
  align-items: baseline;
}
.main__somos .somos__bottom .bottom__waves .waves__image {
  width: 520px;
  height: 230px;
}

.main__nosotros {
  background-color: #fff;
  padding-bottom: 4rem;
}
.main__nosotros .nosotros__cabecera {
  padding-top: 7.5rem;
  padding-left: 22rem;
  padding-bottom: 2rem;
}
.main__nosotros .nosotros__cabecera .cabecera__titulo {
  font-family: "Interstate-Condensed";
  color: #054349;
  font-size: 3rem;
}
.main__nosotros .nosotros__bloques {
  display: flex;
  margin: 1.5rem 22rem;
}
.main__nosotros .nosotros__bloques .bloques__resumen {
  /* 
  width: 500px;
  height: 346px; 
  */
  width: 20vw;
  height: 14vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__nosotros .nosotros__bloques .bloques__resumen .resumen__title {
  font-family: "Haskoy-Medium";
  color: #054349;
  font-size: 4.25rem;
  padding-left: 2rem;
  padding-top: 1rem;
}
.main__nosotros .nosotros__bloques .bloques__resumen .resumen__title .unidades {
  font-family: "Haskoy-Bold";
  font-size: 1.75rem;
}
.main__nosotros .nosotros__bloques .bloques__resumen .resumen__contenido {
  color: #fff;
  font-family: "Haskoy-Bold";
  font-size: 1.375rem;
  line-height: 26px;
  padding-left: 2rem;
}
.main__nosotros .nosotros__bloques .bloques__resumen .resumen_subtitle {
  color: #fff;
  font-family: "Haskoy-Bold";
  font-size: 1.75rem;
  line-height: 22px;
  padding-left: 2rem;
}
.main__nosotros .nosotros__bloques .pipeline {
  background-image: url("../images/main/nosotros/pipeline.png");
}
.main__nosotros .nosotros__bloques .empleados {
  background-image: url("../images/main/nosotros/empleado.png");
}
.main__nosotros .nosotros__bloques .continentes {
  background-image: url("../images/main/nosotros/continentes.png");
}
.main__nosotros .nosotros__bloques .paises {
  background-image: url("../images/main/nosotros/paises.png");
}
.main__nosotros .nosotros__bloques .proyectos {
  background-image: url("../images/main/nosotros/proyectos.png");
}
.main__nosotros .fila_uno {
  justify-content: space-between;
}
.main__nosotros .fila_dos {
  justify-content: space-evenly;
  padding: 0 11rem;
}

/* 
.cabecera__titulo {
            font-family: variables.$font-haskoy;
            color: variables.$azul-egeo;
        }
*/
.main__tecnologias {
  background-size: cover;
  background-position: unset;
  background-repeat: no-repeat;
  background-image: url("../images/main/tecnologias/base_2.png");
}
.main__tecnologias .tecnologias__vector {
  width: 100%;
}
.main__tecnologias .tecnologias__container {
  width: 100%;
}
.main__tecnologias .tecnologias__container .container__title {
  padding: 8rem 22rem 4rem;
}
.main__tecnologias .tecnologias__container .container__title .title {
  font-family: "Interstate-Condensed";
  color: #98EF36;
  font-size: 3rem;
}
.main__tecnologias .tecnologias__container .container__tabs {
  padding: 1rem 22rem;
  display: flex;
  justify-content: space-between;
}
.main__tecnologias .tecnologias__container .container__tabs .tabs__tab {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 582px;
  height: 448.6px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.main__tecnologias .tecnologias__container .container__tabs .tab__title {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  padding: 0 2rem;
}
.main__tecnologias .tecnologias__container .container__tabs .tab__title .title__tech {
  font-family: "Haskoy-Bold";
  color: #98EF36;
  font-size: 1.875rem;
  /*1.875rem;*/
}
.main__tecnologias .tecnologias__container .container__tabs .tab__contenido {
  font-family: "Haskoy-Medium";
  color: #fff;
  font-size: 1.5rem;
  /* 1.5rem */
  padding: 0 2rem;
}
.main__tecnologias .tecnologias__container .container__tabs .tab__button {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.main__tecnologias .tecnologias__container .container__tabs .tab__button .button__enlace {
  text-decoration: none;
}
.main__tecnologias .tecnologias__container .container__tabs .tab__button .button__enlace .enlace__ampliar {
  padding: 1.75rem 1.625rem;
  font-size: 1.125rem;
  background-color: #98EF36;
  border: 1px solid #98EF36;
  color: #303030;
  font-family: "Haskoy-Medium";
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__tecnologias .tecnologias__container .container__tabs .tab__button .button__enlace .enlace__ampliar .ampliar__row {
  padding-left: 1rem;
}
.main__tecnologias .tecnologias__container .margen_inferior {
  padding-bottom: 17rem;
}
.main__tecnologias .tecnologias__container .solar {
  background-image: url("../images/main/tecnologias/solar.png");
}
.main__tecnologias .tecnologias__container .hidrogeno {
  background-image: url("../images/main/tecnologias/hidrogeno.png");
}
.main__tecnologias .tecnologias__container .biogas {
  background-image: url("../images/main/tecnologias/biogas.png");
}
.main__tecnologias .tecnologias__container .almacenamiento {
  background-image: url("../images/main/tecnologias/almacenamiento.png");
}

.main__presencia {
  background-color: #B8D3D9;
}
.main__presencia .presencia__title {
  padding: 10rem 22rem 3rem;
}
.main__presencia .presencia__title .title__global {
  font-family: "Interstate-Condensed";
  color: #072517;
  font-size: 3rem;
}
.main__presencia .presencia__sectionMapa {
  margin: 0 22rem;
  padding-bottom: 3rem;
}
.main__presencia .presencia__sectionMapa .sectionMapa__containerMapa {
  background-image: url("../images/main/presencia/map_countries.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 770px;
}
.main__presencia .presencia__sectionMapa .sectionMapa__containerMapa .containerMapa__informacion {
  display: flex;
}
.main__presencia .presencia__sectionMapa .sectionMapa__containerMapa .containerMapa__informacion .informacion__datos {
  cursor: pointer;
  background-color: #0F5E42;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem 0.938rem;
  border-radius: 5px;
  min-width: 130px;
}
.main__presencia .presencia__sectionMapa .sectionMapa__containerMapa .containerMapa__informacion .informacion__datos .datos__country {
  font-size: 1.125rem;
  color: #fff;
  font-family: "Haskoy-Bold";
}
.main__presencia .presencia__sectionMapa .sectionMapa__containerMapa .containerMapa__informacion .informacion__datos .datos__valor {
  padding: 0.625rem 1rem;
  margin-top: 0.938rem;
  background-color: #98EF36;
  color: #0F5E42;
  font-size: 1.125rem;
  font-family: "Haskoy-SemiBold";
}
.main__presencia .presencia__sectionMapa .sectionMapa__containerMapa .containerMapa__informacion .espania {
  margin-right: 10rem;
}
.main__presencia .presencia__sectionMapa .sectionMapa__containerMapa .containerMapa__informacion .italia {
  margin-right: 25rem;
}
.main__presencia .presencia__sectionMapa .sectionMapa__containerMapa .containerMapa__informacion .africa {
  margin-right: 20rem;
  margin-top: 3rem;
}
.main__presencia .presencia__sectionMapa .sectionMapa__containerMapa .fila_1 {
  padding-top: 17rem;
  justify-content: end;
  align-items: end;
}
.main__presencia .presencia__sectionMapa .sectionMapa__containerMapa .fila_2 {
  justify-content: start;
  align-items: start;
}
.main__presencia .presencia__sectionMapa .sectionMapa__containerMapa .fila_3 {
  justify-content: end;
  align-items: end;
}

.main__partners {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/main/partners/fondo.png");
}
.main__partners .partners__encabezado {
  padding: 10rem 22rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main__partners .partners__encabezado .encabezado__title {
  font-family: "Interstate-Condensed";
  color: #fff;
  font-size: 3rem;
  line-height: 1.04;
}
.main__partners .partners__encabezado .encabezado__parrafo {
  font-family: "Haskoy-Medium";
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.33;
}
.main__partners .partners__slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10rem;
}
.main__partners .partners__slider .slider__object {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__partners .controls__slider {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.main__partners .controls__slider .slider__arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__partners .controls__slider .slider__arrows .arrows__arrow .arrow__btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}
.main__partners .controls__slider .slider__arrows .arrows__arrow .opacity_partners {
  opacity: 0.5;
}
.main__partners .controls__slider .slider__progressBar {
  width: 50%;
  margin: 2.5rem 10rem 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__partners .controls__slider .slider__progressBar .progressbar__section {
  border-bottom: 2px solid #fff;
  width: 33%;
}
.main__partners .controls__slider .slider__progressBar .active_partners {
  border-bottom: 10px solid #fff;
}

.main__noticias {
  background-color: #fff;
}
.main__noticias .noticias__encabezado {
  padding: 10rem 22rem 3rem;
  display: flex;
  justify-content: space-between;
}
.main__noticias .noticias__encabezado .encabezado__bloqueTitle .bloqueTitle {
  font-family: "Interstate-Condensed";
  color: #0F5E42;
  font-size: 3rem;
}
.main__noticias .noticias__encabezado .encabezado__bloqueLink .bloqueLink__enlace {
  text-decoration: none;
}
.main__noticias .noticias__encabezado .encabezado__bloqueLink .bloqueLink__enlace .enlace__noticias {
  padding: 1.75rem 1.625rem;
  font-size: 1.125rem;
  background-color: #98EF36;
  border: 1px solid #98EF36;
  color: #303030;
  font-family: "Haskoy-Medium";
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__noticias .noticias__encabezado .encabezado__bloqueLink .bloqueLink__enlace .enlace__noticias .noticias__row {
  padding-left: 1rem;
}
.main__noticias .noticias__slider {
  padding: 0 7rem;
}
.main__noticias .noticias__slider .slider__container {
  background-color: #14AD53;
  margin: 3rem 12rem;
}
.main__noticias .noticias__slider .slider__container .container__newsInformation {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: flex-start;
}
.main__noticias .noticias__slider .slider__container .container__newsInformation .newsInformation__encabezado {
  font-family: "Haskoy-Medium";
  color: #98EF36;
  font-size: 1.125rem;
  line-height: 1.44;
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
}
.main__noticias .noticias__slider .slider__container .container__newsInformation .newsInformation__line {
  border-right: 1px solid #fff;
  height: 35px;
}
.main__noticias .noticias__slider .slider__container .container__newsInformation .newsInformation__date {
  font-family: "Haskoy-Medium";
  color: #fff;
  font-size: 1.125rem;
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
}
.main__noticias .noticias__slider .slider__container .container__newsContent {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
}
.main__noticias .noticias__slider .slider__container .container__newsContent .newsContent__bloque {
  display: flex;
  justify-content: baseline;
  align-items: end;
}
.main__noticias .noticias__slider .slider__container .container__newsContent .newsContent__bloque .bloque__newsParrafo {
  font-family: "Interstate-Condensed";
  color: #fff;
  font-size: 3rem;
  line-height: 1.15;
  line-height: 60px;
}
.main__noticias .noticias__slider .slider__container .container__newsContent .newsContent__img {
  width: 524px;
  height: 420px;
}
.main__noticias .noticias__controller {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.main__noticias .noticias__controller .controller__progressBar {
  width: 38%;
  margin: 2.5rem 10rem 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__noticias .noticias__controller .controller__progressBar .progressbar__bloque {
  border-bottom: 2px solid #303030;
  width: 33%;
}
.main__noticias .noticias__controller .controller__progressBar .active_news {
  border-bottom: 10px solid #303030;
}
.main__noticias .noticias__controller .controller__panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__noticias .noticias__controller .controller__panel .arrows__btn .btn__flecha {
  background-color: transparent;
  border: 1px solid transparent;
  color: #303030;
  cursor: pointer;
  font-size: 3rem;
}
.main__noticias .noticias__controller .controller__panel .arrows__btn .opacity_news {
  opacity: 0.5;
}

.main__contacto {
  background-color: #E9F3ED;
}
.main__contacto .contacto__bloqueTitulos {
  padding: 10rem 22rem 1rem;
}
.main__contacto .contacto__bloqueTitulos .bloqueTitulos__contacto {
  color: #14AD53;
  font-family: "Haskoy-Bold";
  font-size: 1.5rem;
  line-height: 0.8;
  margin-bottom: 20px;
}
.main__contacto .contacto__bloqueTitulos .bloqueTitulos__pregunta {
  color: #0F5E42;
  font-family: "Interstate-Condensed";
  font-size: 5rem;
  line-height: 1;
}
.main__contacto .contacto__texto {
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: right;
  padding: 0 22rem 2rem;
}
.main__contacto .contacto__texto .texto__dudas {
  color: #0F5E42;
  font-family: "Haskoy-Medium";
  font-size: 1.625rem;
  line-height: 1.15;
}
.main__contacto .contacto__enlaceContacto {
  padding: 0 22rem;
  display: flex;
  justify-content: end;
  align-items: end;
}
.main__contacto .contacto__enlaceContacto .enlaceContacto__link {
  text-decoration: none;
}
.main__contacto .contacto__enlaceContacto .enlaceContacto__link .link__btnContacto {
  padding: 1.75rem 1.625rem;
  font-size: 1.125rem;
  line-height: 1;
  background-color: #98EF36;
  border: 1px solid #98EF36;
  color: #303030;
  font-family: "Haskoy-Medium";
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__contacto .contacto__enlaceContacto .enlaceContacto__link .link__btnContacto .contacto__row {
  padding-left: 1rem;
}
.main__contacto .contacto__mountains {
  width: 100%;
}

.footer {
  padding: 2rem;
}
.footer .footer__sectionppal {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #303030;
  padding-bottom: 1rem;
}
.footer .footer__sectionppal .sectionppal__logotipo {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-bottom: 1rem;
}
.footer .footer__sectionppal .sectionppal__logotipo .logotipo__ric {
  width: 100px;
}
.footer .footer__sectionppal .sectionppal__enlaces {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna {
  width: 33.33%;
}
.footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna .columna__linkTitle {
  text-decoration: none;
}
.footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna .columna__title {
  font-family: "Haskoy-SemiBold";
  color: #0F5E42;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
.footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna .columna__title:hover {
  text-decoration: underline;
}
.footer .footer__sectionppal .sectionppal__enlaces .enlaces__columna .columna__link {
  text-decoration: none;
  font-family: "Haskoy-Regular";
  color: #303030;
  font-size: 1.25rem;
}
.footer .footer__sectionFinal {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.footer .footer__sectionFinal .sectionFinal__politicas {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__sectionFinal .sectionFinal__politicas .politicas__bloque {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__sectionFinal .sectionFinal__politicas .politicas__bloque .bloque__enlacePoliticas {
  text-decoration: none;
  font-family: "Haskoy-Regular";
  color: #303030;
  font-size: 0.875rem;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: end;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales .redesSociales__bloque {
  width: 78px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales .redesSociales__bloque .bloque__enlaceRedesSociales {
  text-decoration: none;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales .instagram {
  background-color: #14AD53;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales .facebook {
  background-color: #088745;
}
.footer .footer__sectionFinal .sectionFinal__redesSociales .twitter {
  background-color: #0F5E42;
}

/*# sourceMappingURL=styles.css.map */
